<%- include('./parts/header.ejs')%>
<%- include('./parts/nav-bar.ejs')%>
<div class="container text-center container-sign">
    <form action="/signup" method="post" class="sign-form">
        <h3 class="mb-5">Create Account</h3>
        <%if(error) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <%}%>
        <%if(msg === 'Field user name is invalid'){%>
            <div class="alert alert-danger">
                <%= msg %>
            </div>
        <%}%>
        <%if(msg === 'Field first name is invalid'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <%if(msg === 'Field last name is invalid'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <%if(msg === 'Field email is invalid'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <%if(msg === 'Field Phone is invalid'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <%if(msg === 'Field address is invalid'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <%if(msg === 'Select password more secure'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <%if(msg === 'Field confirmPassword is invalid'){%>
            <div class="alert alert-danger"><%= msg %></div>
        <%}%>
        <input type="text" class="form-control" name="username" placeholder="User Name">
        <input type="text" class="form-control" name="firstname" placeholder="First Name">
        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
        <input type="email" class="form-control" name="email" placeholder="Email">
        <input type="text" class="form-control" name="phone" placeholder="Phone Number">
        <input type="text" class="form-control" name="address" placeholder="Address">
        <input type="password" class="form-control" name="password" placeholder="password">
        <input type="password" class="form-control" name="confirmPassword" placeholder="confirmPassword">
        <input type="submit" value="Create Account" class="btn btn-outline-primary">
    </form>
    <div>
        Already have account ? <a href="/login">Login</a>
    </div>
</div>
<%- include('./parts/footer.ejs')%>
